---
// Redirect root to default locale
---

<!doctype html>
<html>
<head>
  <meta http-equiv="refresh" content="0;url=/es/" />
  <link rel="canonical" href="/es/" />
</head>
<body>
  <a href="/es/">Redirecting to FRONT...</a>
</body>
</html>
